.weather-forecast {
	background: $gray-lighter;
	float: left;
	padding: 1.5rem;
	margin: 0.5rem;
	width: 22rem;
	height: 13rem;
	border-radius: 0.5rem;
}
#currentWeatherBtn {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
